<body class="hold-transition sidebar-mini">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">

          <br>
          <h1>Clientes</h1>

        </div>
        <!--Inicia buscador-->

        <!--Termina buscador-->
      </div>
    </div>
  </section>
  <!--Boton para agregar Borrar ek url para que carge el icono -->
  <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Agregar Cliente</button>

  <!--CBoton para agregar-->
  <!-- Modal -->





  <div *ngIf="buscador">
    <h1> Buscando:
      <small>
        {{termino}}
      </small>
    </h1>
    <hr>
    <div class="row animated fadeIn fast" *ngIf="payment.length == 0">
      <div class="col-md-12">
        <div class="alert alert-info" role="alert">
          No existen resultados con el término: {{ termino }}
        </div>
      </div>
    </div>
  </div>
  <!--Cuerpo de la tabla-->
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead class=" ">
          <th>
            #
          </th>
          <th class="text-center">
            Nombre
          </th>
          <th class="text-center">
            Apellido Paterno
          </th>
          <th class="text-center">
            Apellido Materno
          </th>

          <th class="text-center">
            Teléfono
          </th>

          <th class="text-center">
            Editar
          </th>
          <th class="text-center">
            Eliminar
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let user of payment; let index=index">
            <th scope="row">{{index+1}}</th>
            <td class="text-center">
              {{user.nombre}}
            </td>
            <td class="text-center">
              {{user.categoria}}
            </td>
            <td class="text-center">
              {{user.p_Compra}}
            </td>
            <td class="text-center">
              {{user.existencia}}
            </td>


            <td class="text-center">
              <button type="button" class="btn btn-info btn-sm" (click)="openUp(update, index)"><i
                  class="fas fa-pencil-alt"></i></button>
            </td>
            <td class="text-center">
              <button type="button" class="btn btn-danger btn-sm" (click)="eliminar(user.id)"><i
                  class="fa fa-trash"></i></button>

            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>

  <!--Modal Agregar-->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Agregar</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="Nombre">Nombre</label>
              <input type="text" maxlength="100" class="form-control" [(ngModel)]="nombre" name="nombre">
              <small>{{nombre}}</small>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="ApellidoPaterno">Categoria</label>
              <input type="text" maxlength="100" class="form-control" [(ngModel)]="categoria" name="Apellido_paterno">
              <small>{{ categoria }}</small>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="ApellidoMaterno">Precio Compra</label>
              <input type="text" maxlength="100" class="form-control" [(ngModel)]="p_Compra"
                name="Apellido_materno">
              <small>{{ p_Compra }}</small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <label for="CorreoElectronico">Existencia</label>
              <input type="text" maxlength="500" class="form-control" [(ngModel)]="existencia" name="Telefono">
              <small>{{ existencia }}</small>
            </div>
          </div>

        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="crearU()">Añadir</button>
    </div>
  </ng-template>

  <!--Modal Editar-->
  <ng-template #update let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Editar</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="ID">id</label>
              <input type="text" maxlength="100" class="form-control" [(ngModel)]="index" name="id"
                value="{{payment[index].id}}">
              <small>{{index}}</small>
            </div>
          </div>


          <div class="col-md-4">
            <div class="form-group">
              <label for="Nombre">Nombre</label>
              <input type="text" maxlength="100" class="form-control" [(ngModel)]="nombre" name="nombre"
                value="{{payment[index].nombre}}">
              <small>{{nombre}}</small>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="ApellidoPaterno">Categoria</label>
              <input type="text" maxlength="100" class="form-control" [(ngModel)]="categoria" name="Apellido_paterno"
                value="{{payment[index].p_Paterno}}">
              <small>{{ categoria }}</small>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="ApellidoMaterno">Precio Compra</label>
              <input type="text" maxlength="100" class="form-control" [(ngModel)]="p_Compra" name="Apellido_materno"
                value="{{payment[index].seg_apellido}}">
              <small>{{ p_Compra }}</small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <label for="CorreoElectronico">Existencia</label>
              <input type="text" maxlength="500" class="form-control" [(ngModel)]="existencia" name="Telefono"
                value="{{payment[index].telefono}}">
              <small>{{ existencia }}</small>
            </div>
          </div>

        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark"
        (click)="updateU(payment[index].id, payment[index] )">Save</button>
    </div>
  </ng-template>
</body>